* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
    text-align: center;
}
.icon{
    display: block;
    margin: auto;
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
    color: white;
    background-color: blue;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
}
.rating {
  direction: rtl; 
  display: inline-flex;
  gap: 5px;
}

.rating input {
  display: none; 
}

.rating label {
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.rating input:checked ~ label {
  color: gold;
}
